* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
.template {
	display: none;
}
.display{
	display:none;
}
body {
	display: flex;
	height: 100vh;
	width: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	background-image:
  linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
    );
}
.container {
	margin: auto;
	width: 80%;
	/*larghezza minima per evitare sovrapposizioni*/
	min-width: 900px;
	height: 95%;
	z-index: 1;
}

.left {
	width: 35%;
	border-right: 1px solid #D6D6D6;
}
.left, .right {
    float: left;
    height: 100%;
}
.right {
	width: 65%;
}

.header-left, .header-right {
	width: 100%;
	height: 70px;
	background: #EAEAEA;
}
/* HEADER LEFT */

.header-left .header-left-logo, .header-right .header-right-logo {
	float: left;
}

.header-left-logo{
    height: 100%;
    width: 20%;
}
.header-left-logo img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.header-left-icons{
    float: right;
	width: auto;
	margin-right: 15px;
	text-align: right;
}

.header-left-icons i{
    color: rgb(177, 177, 177);
    font-size: 22px;
    margin-left: 13px;
    margin-top: 25px;
    cursor: pointer;
}
/*** FINE HEADER LEFT ****/

/*** HEADER RIGHT ****/
.header-right .header-right-logo img {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	border-radius: 100%;
	margin-top: 10px;
}
.header-right-logo{
	display: flex;
    cursor: pointer;
    width: 50%;
    height: 100%;
}
.header-right-logo h3{
	font-size: 16px;
	font-weight: normal;
	margin-left: 12px;
}
.header-right-logo small{
	color: #6B7376;
}
.header-right-icons{
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;

}
.header-right-icons i{
	margin-left: 20px;
	margin-top: 25px;
	color: rgb(177, 177, 177);
    font-size: 22px;
}
/*** FINE HEADER RIGHT ****/
/*** FINE HEADER ****/


/*** DISCLAIMER ****/
.disclaimer{
    display: flex;
	width: 100%;
	height: 75px;
	background: #8EDAFC;
}
.disclaimer-icons{
    width: 50px;
	height: 50px;
	margin: auto 0 auto 20px;
	background: #F2FBFF;
	border-radius: 100%;
	text-align: center;
	color: #8EDAFC;
	line-height: 50px;
	font-size: 20px;
}
.disclaimer-text {
	width: calc(100% - 50px);
	height: auto;
	margin: auto;
	padding-left: 13px;
}
.disclaimer-text h3 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
}
.disclaimer-text a {
	color: #4F7485;
	font-size: 13.5px;
}
/*** FINE DISCLAIMER  ****/

/**** SEARCHBAR ****/

.searchbar {
	width: 100%;
	height: 50px;
	background: #FAFAFA;
}
.searchbar .searchbar-input {
	float: right;
	width: calc(85% - 7px);
	height: 36px;
	margin: 7px 7px 7px 0;
	border-left: 0;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
    outline: none;
}
.searchbar .searchbar-label {
	display: inline-block;
	width: calc(15% - 7px);
	height: 36px;
	margin: 7px 0 7px 7px;
	border-top: 1px solid #F5F5F5;
	border-right: 0;
	border-bottom: 1px solid #F5F5F5;
	border-left: 1px solid #F5F5F5;
	background: #fff;
	text-align: center;
	color: #B6B9BB;
}
.searchbar i{
    margin-top: 9px;
}

/***** FINE SEARCHBAR ****/

/**** CONTACTS ****/
.contacts {
	width: 100%;
	height: calc(100% - 70px - 50px - 75px);
	background: #fff;
	/* overflow-y: scroll; */
}
.contact {
	display: flex;
	cursor: pointer;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #F5F5F5;
}
.contact-logo {
	width: 60px;
	height: 60px;
	margin: auto 20px;
	border-radius: 100%;
	overflow: hidden;
}
.contact-logo img {
	width: 100%;
	height: 100%;
}
.contact-info {
	width: calc(100% - 100px);
	height: 60px;
	margin: auto 10px auto 0;
	line-height: 5px;
    margin-top: -5px
}
.contact-info h3 {
	font-size: 17px;
	font-weight: normal;
	margin-left: 10px;
}
.time-right{
    float: right;
}
.contact-info span.time-right {
	color: #B6B9BB;
	font-size: 12px;
	font-weight: lighter;
}
.contact-info small {
	color: #B6B9BB;
    padding-left: 12px;
}
/**** FINE CONTACTS ****/

/**** RIGHT MESSAGES  ****/
.right-messages-contact{
	width: 100%;
	height: calc(100% - 70px - 70px);
}

.right-messages {
	display: none;
	height: 100%;
	width: 100%;
	padding: 5% 10%;
	background-image: url('img/mine.jpg');
	overflow-y: scroll;
}
.message-sent{
	width: 150px;
	position: relative;
}
.message-options, .message-received-options{
	/* display: none; */
	position:absolute;
	right:26px;
	color: #B6B9BB;
	cursor: pointer;
}
.message-sent i{
	display: none;
}

.message-time, .message-received-time{
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
	color: #B6B9BB;
}
.message-options-panel{
	display: none;
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 80px;
    background: white;
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
}

/**** Pannello messaggi inviati e ricevuti ****/
.panel-sent, .panel-received{
	background: white;
	margin: 5px 0;
    padding: 15px 15px 20px 15px;
    min-width: 20%;
    max-width: 60%;
    border-radius: 10px;
    font-size: 15px;
}
.panel-received{
	background-color: #D5F9BA;
	min-width: 28%;
}
.message-options-panel{
	display: none;
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 80px;
    background: white;
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
}

.message-received{
	float: right;
	margin-top: 10px;
	position: relative;
}

/**** FOOTER ****/
.right-footer {
	background-color: #F3EEEA;
	width: 100%;
	height: 70px;
	display: flex;
}
.right-footer-icon {
	width: 10%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
	color: #6B7376;
}
#new-message-inputs {
	width: 80%;
	height: 50px;
	margin: 10px 0;
	padding: 15px;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
    outline: none;
    margin-top: 10px;
}


.active{
    display: block;
}
.active-contact{
	border-bottom-color: transparent;
	background: #E9EBEB;
}


.template{
    display: none;
}
