* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    background: linear-gradient(0deg, rgba(173,173,173,1) 70%, rgba(15,223,50,1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}
#container{
    background-color: grey;
    width: 70%;
    height: 88vh;
    position: absolute;
    top: 27px;
    left: 200px;

}
#top{
    display: flex;
}
.top-left{
    width: 40%;
    height: 75px;
    background-color: yellow;
}
.top-right{
    width: 60%;
    height: 75px;
    background-color: blue;
}
#main{
    height: 95%;
    width: 100%;
    background-color: black;
    display: flex;
}
.main-left{
    width: 40%;
    height: 100%;
    background-color: red;

}
.main-right{
    width: 60%;
    height: 100%;
    background-image:url(img/wallpaper.jpg);
    position: relative;
    background-size: contain;
}
.right-bottom{
    height: 100px;
    width: 100%;
    background-color: black;
    bottom:0;
    position: absolute;
}
.message-sent{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.message-received{
    border-radius: 20px;
    padding: 20px;
    background-color:lawngreen;
    display: inline-block;
    float:right;
    clear: both;
    margin-right: 20px;
}
.message-sent-due{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
}
.ricevi-notifiche{
    width: 100%;
    height: 10%;
    background-color: lightslategrey;
}
.new-chat{
    width: 100%;
    height: 7%;
    background-color: lime;
}
.avatar-person{
    width: 100%;
    height: 83%;
    background-color: lightgray;
}
.avatar-images{
    width: 100%;
    height: 15%;
    background-color: ghostwhite;
    border-bottom: 1px solid white;
    display: flex;
}
.avatar-images img{
    height: 80%;
    /* border-bottom: 2px solid black; */

}
.avatar-images h3{
    padding-left: 12px;
    padding-top: 20px;
}
.avatar-images p{
    padding-top: 53px;
    opacity: 0.4;
    /* margin-left: -69px; */

}
.text{
    margin-left: -69px;
}
.text-due{
    margin-left: -50px;
}
