* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    background: linear-gradient(0deg, rgba(173,173,173,1) 70%, rgba(15,223,50,1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}
#container{
    background-color: grey;
    width: 70%;
    height: 88vh;
    position: absolute;
    top: 27px;
    left: 200px;

}
#top{
    display: flex;
}
.top-left{
    width: 40%;
    height: 75px;
    background-color: white;
    position: relative;
    border-right: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left img{
    width:20%;
    border-radius: 54px;

}
.top-left i{
    padding-right: 18px;
    opacity: 0.4;
}

.top-right{
    width: 60%;
    height: 75px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon_due{
    padding-right: 3px;
    opacity: 0.4;
}
.icon_due i{
    padding-right: 11px;
    font-size: 20px;
}
.top-right img{
    border-radius: 44px;
    height: 100%;
    padding-left: 4px;
    position: relative;
}

#main{
    height: 95%;
    width: 100%;
    background-color: black;
    display: flex;
}
.main-left{
    width: 40%;
    height: 100%;
    background-color: red;

}
.ricevi-notifiche{
    width: 100%;
    height: 10%;
    background-color: lightblue;
    display: flex;
    position: relative;
    padding-top: 3px;
}
.ricevi-notifiche i{
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}
.ricevi-notifiche h4{
    padding-top: 10px;
    padding-left: 7px;
}
.ricevi-notifiche p{
    position: absolute;
    bottom: 28px;
    right: 136px;
    text-decoration: underline;
}
.main-right{
    width: 60%;
    height: 100%;
    background-image:url(img/wallpaper.jpg);
    position: relative;
    background-size: contain;
}
.right-bottom{
    height: 100px;
    width: 100%;
    background-color: black;
    bottom:0;
    position: absolute;
}
.message-sent{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.message-received{
    border-radius: 20px;
    padding: 20px;
    background-color:lawngreen;
    display: inline-block;
    float:right;
    clear: both;
    margin-right: 20px;
}
.message-sent-due{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    float: left;
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
}

.new-chat{
    width: 100%;
    height: 7%;
    background-color: lime;
}
.avatar-person{
    width: 100%;
    height: 83%;
    background-color: white;
}
.avatar-images{
    width: 100%;
    height: 15%;
    background-color: ghostwhite;
    border-bottom: 1px solid white;
    display: flex;
}
.avatar-images img{
    height: 80%;
    /* border-bottom: 2px solid black; */

}
.avatar-images h3{
    padding-left: 12px;
    padding-top: 20px;
}
.avatar-images p{
    padding-top: 53px;
    opacity: 0.4;
    /* margin-left: -69px; */

}
.text{
    margin-left: -69px;
}
.text-due{
    margin-left: -50px;
}
